/* Product component style */
*{
  margin: 0;
  padding: 0;
}


.main_container{
  display: flex;
  width: 100%;
}
.selected_protects_container{
   
  width: 50vw;
  height: auto;
  background-size: cover;  
  background-position: center;
  display: flex;
  flex-direction: column;
  flex: 1 0 50%

}
.totel_details{
  flex: 1 0 50%;
  position: relative;
}
.totel_prize{
  position: absolute;
  width: 70%;
  padding: 10px;
  margin-left: 10%;
  height: auto;
  border-radius: 10px;
  background: -webkit-linear-gradient(90deg, rgba(176, 172, 181, 1) 0%, rgba(200, 188, 200, 1) 100%);

  /* opera 11.10+ */
  background: -o-linear-gradient(90deg, rgba(176, 172, 181, 1) 0%, rgba(200, 188, 200, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C8BCC8', endColorstr='#B0ACB5', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(90deg, rgba(176, 172, 181, 1) 0%, rgba(200, 188, 200, 1) 100%);

  /* global 94%+ browsers support */
  background: linear-gradient(90deg, rgba(176, 172, 181, 1) 0%, rgba(200, 188, 200, 1) 100%);
}

.heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
    margin-top: 2%;
    font-size: 45px;
    line-height: 50px;
     margin-bottom: 3%;
    color:linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}
.product {
    
     
    margin: 10px;
     display: flex; 
    padding: 10px;
    /* border : 1px solid black; */
 }
  
  .increse_degrese_qu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     
    margin-left: 15%;
  }
.prize_btn{
  margin-left: 5%;
}
  .remove_btn{
    margin-left: 25%;
  }
    
  .increse,
  .decrese,
  .btn2 {
      box-shadow:inset 0px 1px 0px 0px #97c4fe;
      background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
      background-color:#3d94f6;
      border-radius:6px;
      border:1px solid #337fed;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:12px;
      font-weight:bold;
      padding:1px 22px;
      text-decoration:none;
      text-shadow:0px 1px 0px #1570cd;
      margin: 5px;
    }
   
    .increse:hover,
  .decrese:hover,
  .btn2:hover {
      background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
      background-color:#1e62d0;
    }
    .increse:active,
  .decrese:active
  .btn2:active {
      position:relative;
      top:1px;
    }
    
  
   .selected_protect{
    margin: 0;
    /* text-align: left; */
   }
  
  /* Shopping cart style */
  .shopping-cart {
    margin-top: 20px;
    text-decoration: none;
    
  }
   
  .shopping-cart ul {
    list-style-type: none;
    padding: 0;
 
  }
  
  .shopping-cart li {
    margin-bottom: 5px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 0;
    display: flex;
    
  }
  
  
.btn1 {
	/* box-shadow: 0px 10px 14px -7px #29bbff; */
	background:linear-gradient(to bottom, #124e6e 5%, #000000 100%);
	background-color:#124e6e;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#f5f5f5;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.btn1:hover {
	background:linear-gradient(to bottom, #000000 5%, #124e6e 100%);
	background-color:#000000;
}
.btn1:active {
	position:relative;
	top:1px;
}
   
    
          
    @media screen and (min-width: 1050px) {
     
      .increse,
      .decrese{
        font-size: 25px;
      }
      .product p{
        font-size: 20px;
      }
      .product h3{
        font-size: 25px;
       
      }
      .increse,
      .decrese,
      .btn2{
        height: 40px;
        margin-top: 5%;
      }
    }
    @media screen and (max-width:750px) {
     
      .increse,
      .decrese{
        font-size: 20px;
      }

      .btn1{
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        width: 50%;
        margin-left: 30%;
      }
      .product{
         display: inline;
        flex-direction: row; 
        border: white;
      }

      .btn1{
        font-size: 15px;
        margin: 0;
        width: 90%;
      }

      .btn2{
        height: 28px;
         margin-left: 20%;
      }

      
      .decrese,.increse{
        margin: 0;
        width: 30%;
        margin-left: 30%;
      }
      .product h3{
          margin: 0;
      }

      .selected_protects_container table th{
        display: none;
      }

      .prize_btn p{
        position: absolute;
        margin-top: 10%;
      }

      selected_protect

      .totel_prize{
        width: 95%;
      }
    }