*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Reem Kufi", sans-serif !important;
}
.profileData {
    padding: 4rem;
}
.profileData .firstdev{
    display: flex;
    margin: 2rem 0;
    border-top:3px solid  #333;
    min-height: 15vh;
    font-size: 9px;
}
.profileData .orderdiv{
    margin: 2rem 0;
    border-top:3px solid  #333;
    min-height: 15vh;
    font-size: 9px;
}
.firstdev .col1 i{
    font-size: 900%;
    margin: 0;
    padding: 0;
    
}
.firstdev .col1{
    width: 35%;
    padding: 1rem;
    border-right: 2px solid #302e2e ;
}
.firstdev .col1 address{
    font-size: 12px;
}
.firstdev .col2{
    width: 65%;
    padding: 1.5rem;
}
.firstdev .col2 h2{
    font-size: 18px;
    margin-bottom: 0.7rem;
}
.firstdev .col2 p{
    font-size: 10px;
}
.firstdev .col2-2{
    display: flex;
}
.firstdev .col2-2 .col2{
    width: 50%;
}
.firstdev .col2-2 .col2 input{
    width: 90%;
    margin-bottom: 3px;
    height: 2.5rem;
    padding-left: 5px;
    border-radius: 5px;
    border-bottom:1px solid #333  ;


}
.firstdev .col2 .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 2px;
}
.orderdiv table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    
}
 .orderdiv table th,.orderdiv table td{
    font-size:15px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
} 
.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}
.output-box{
    width: 80%;
    padding: 7px;
    margin: 10px 0;
}
.update-btn{
    margin-top: .3rem;
    width: 90%;
    border-radius: 30px;
    padding: .5rem;

}

